/* Universal selector used to set default box-sizing to altenative and removes
padding, margin values */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Type selector used to add background color to body. */
body {
    background-color: #d9dcd6;
}

/* Changed to use type selector and remove unneeded code for classes related to header. */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    }

h1 {
    display: inline-block;
    font-size: 48px;
    border: 5px solid black;
}

/*Changed color to stand out more in text*/
h1 .seo {
    color: orange;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header ul {
    padding: 15px;
    margin-right: 20px;
    list-style-type: none;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border: 5px solid black;
    display: inline;
}

header ul li {
    display: inline-block;
    margin-left: 25px;
    border: 5px solid black;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* This applies to the main background image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    border: 5px solid black;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Consolidated classes into one new class named benefit-section in HTML to remove 
repetitious code. */
.benefit-section {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Updated to type selector to remove uneeded code and classes.*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Consolidated classes into one new class named benefit-section in HTML to remove 
repetitious code. */
.benefit-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Changed to type selector to remove addtional classes.*/
img {
    max-height: 200px;
}

/*Changed to use type selector of h2 and eleminate need for addtional code in form of classes*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Changed to Type selector to remove need for extra code in form of class in HTML
document*/ 
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Updated to type selector and changed heading value to match sequential change to h4*/
footer h4 {
    font-size: 20px;
}